container {
    margin: auto;
}

.form {
    width: 350px;
    margin: 20px;
    border: 1px solid #E1E1E1;
    border-radius: 10px;
    padding: 15px;
    position: relative;
    overflow: inherit;
}

.form input {
    margin: 6px 20px;
    width: 170px;
    display: block;
}

.form button {
    margin: 10px 20px;
}

.list li {
    width: 200px;
    list-style: none;
    display: inline-block;
    margin: 10px;
    padding: 15px;
    background-color: #E1E1E1;
    border-radius: 10px;
    overflow: inherit;
}

.list li div {
    padding: 3px;
}

.list li button {
    margin-top: 20px;
}

.edit {
    margin-left: 80px;
}

.name {
    font-size: 18px;
    text-decoration: underline;
}

.add-number {
    margin-top: 1px;
    display: inline;
}

.hidden {
    display: none;
}

.errorPhone,
.errorName,
.errorEmail,
.errorBirthday {
    color: red;
    display: none;
    font-size: 12px;
}
